<?xml version="1.0"?>
<ruleset name="Lookyman">
    <rule ref="vendor/consistence/coding-standard/Consistence/ruleset.xml">
        <exclude name="Generic.Functions.OpeningFunctionBraceBsdAllman"/>
        <exclude name="Squiz.Commenting.FunctionComment.MissingParamTag"/>
    </rule>
    <rule ref="vendor/slevomat/coding-standard/SlevomatCodingStandard/ruleset.xml">
        <exclude name="SlevomatCodingStandard.Files.TypeNameMatchesFileName"/>
        <exclude name="SlevomatCodingStandard.Namespaces.FullyQualifiedClassNameAfterKeyword"/>
        <exclude name="SlevomatCodingStandard.Namespaces.FullyQualifiedClassNameInAnnotation"/>
        <exclude name="SlevomatCodingStandard.Namespaces.FullyQualifiedExceptions"/>
        <exclude name="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly"/>
        <!-- todo we like ReferenceUsedNamesOnly, but property "ignoredNames" does not work as expected -->
        <exclude name="SlevomatCodingStandard.Namespaces.UseOnlyWhitelistedNamespaces"/>
        <exclude name="SlevomatCodingStandard.TypeHints.TypeHintDeclaration.MissingTraversableParameterTypeHintSpecification"/>
        <exclude name="SlevomatCodingStandard.TypeHints.TypeHintDeclaration.MissingTraversablePropertyTypeHintSpecification"/>
        <exclude name="SlevomatCodingStandard.TypeHints.TypeHintDeclaration.MissingTraversableReturnTypeHintSpecification"/>
        <exclude name="SlevomatCodingStandard.Types.EmptyLinesAroundTypeBraces"/>
    </rule>
    <rule ref="SlevomatCodingStandard.Commenting.ForbiddenAnnotations">
        <properties>
            <property name="forbiddenAnnotations" type="array" value="@author,@created,@version,@package,@copyright,@license"/>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes">
        <properties>
            <property name="newlinesCountBetweenOpenTagAndDeclare" value="2"/>
            <!-- todo property "spacesCountAroundEqualsSign" should be set to 0, but that clashes with Squiz.WhiteSpace.OperatorSpacing -->
        </properties>
    </rule>
    <rule ref="Squiz.Functions.MultiLineFunctionDeclaration.NewlineBeforeOpenBrace"/>
    <rule ref="Squiz.PHP.ForbiddenFunctions">
        <properties>
            <property name="forbiddenFunctions" type="array" value="sizeof=>count,delete=>unset,print=>echo,is_null=>null,create_function=>null,var_dump=>null"/>
        </properties>
    </rule>
    <rule name="pcc">
        <exclude name="SlevomatCodingStandard.Classes.UnusedPrivateElements"/>
        <exclude name="SlevomatCodingStandard.ControlStructures.AssignmentInCondition"/>
        <exclude name="SlevomatCodingStandard.ControlStructures.DisallowEqualOperators"/>
        <exclude name="SlevomatCodingStandard.Exceptions.ReferenceThrowableOnly"/>
        <exclude name="SlevomatCodingStandard.Namespaces.UnusedUses"/>
        <exclude name="Squiz.Commenting.FunctionComment"/>

        <exclude name="Generic.Commenting.Todo"/>
        <exclude name="LookymanCodingStandard.Classes.FinalClass"/>
        <exclude name="SlevomatCodingStandard.TypeHints.DeclareStrictTypes"/>
        <exclude name="SlevomatCodingStandard.TypeHints.TypeHintDeclaration"/>
        <exclude name="Squiz.Arrays.ArrayDeclaration.KeySpecified"/>
        <exclude name="Squiz.Arrays.ArrayDeclaration.NoKeySpecified"/>
        <exclude name="Squiz.Strings.DoubleQuoteUsage.ContainsVar"/>
    </rule>
    <!-- todo solve blank line at the beginning of class enforced by Squiz.WhiteSpace.MemberVarSpacing -->
    <!-- todo solve blank line at the beginning of class enforced by Squiz.WhiteSpace.FunctionSpacing -->
</ruleset>
